
export(folds)
export(gen_latin)
export(gen_sobol)
export(gen_unifm)
export(grnn.fit)
export(grnn.parpred)
export(grnn.predict)
export(grnn.predone)
export(grnn.search_auc)
export(grnn.search_rsq)
export(grnn.optmiz_auc)
export(grnn.margin)
export(grnn.partial)
export(grnn.x_imp)
export(grnn.x_pfi)
export(grnn.imp)
export(grnn.pfi)

import(stats)
import(randtoolbox)
import(lhs)
import(MLmetrics)
import(parallel)
import(graphics)
import(datasets)
